.layout-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  .vertical-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }

  .horizontal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 1200px;
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
  }

  .left-container {
    display: flex;
  }

  .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-container--horizontal {
    min-width: 50vw;
  }
}
