// 用固定不是很完美，滚动条还是算在里面
.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  max-width: 200px;
  border-right: solid 1px var(--n-border-color);
  border-bottom: solid 1px var(--n-border-color);
  background-color: var(--n-color);
  z-index: 2;
  transition: color .3s var(--n-bezier),
    border-color .3s var(--n-bezier),
    min-width .3s var(--n-bezier),
    max-width .3s var(--n-bezier),
    transform .3s var(--n-bezier),
    background-color .3s var(--n-bezier);
  
  .logo-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 36px;
      height: 36px;
    }

    span {
      font-weight: 700;
      font-size: 18px;
      opacity: 1;
      overflow: hidden;
      white-space: nowrap;
      transition: color .3s var(--n-bezier),
        opacity .3s var(--n-bezier);
    }
  }
}