.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.svg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
