.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.svg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
