html,
body,
#app,
.n-config-provider,
.layout-container {
  width: 100%;
  height: 100%;
}

.layout-content {
  width: 100%;
  height: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-text {
    margin-left: 12px;
  }
}
